@keyframes main-content-animation {
  from {
    border: white 8px solid;
  }
  to {
    border: #4da8da 8px solid;
  }
}

@keyframes change-block-color {
  from {
    background-color: #203647;
  }
  to {
    background-color: #007cc7;
  }
}
